.blackbg
{
	background-color: #000000bf;
	margin: unset 65vh 5vh;
	padding: 25px;
	border-radius: .9em;
	text-align: center;
}

p {
  color: #fbfbfb;
}

h1{
	color: red;
}
.wt {
   color: white;
}
body {
  background-image: url("bg.png");
       background-size:auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 50%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}
