.blackbg
{
	background-color: #000000bf;
	margin: unset 65vh 5vh;
	padding: 25px;
	border-radius: .9em;
	text-align: center;
}

p {
  color: #fbfbfb;
}

h1{
	color: red
}

body {
  background-image: url("20210905_234303.jpg");
       background-size:auto;
}
